<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quectel.app.demo">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
       >
        <activity
            android:theme="@style/TranslucentTheme"
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".ui.RegisterActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".ui.HomeActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
          >
        </activity>

        <activity
            android:name=".ui.UpdateUserActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".ui.ResetPasswordByPhoneActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".ui.SelectLoginActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".ui.EmailLoginActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".ui.EmailRegisterActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".ui.ResetPasswordByEmailActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".ui.UpdateUserPhoneActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".ui.DeviceControlActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".ui.SharedGroupOfDevicesActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            >
        </activity>


        <activity
            android:name=".ui.DistributionNetworkActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>

        <activity
            android:name=".ui.UpdateImageActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            >
        </activity>




    </application>

</manifest>