<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quectel.app.demo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" android:maxSdkVersion="30"/>

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:node="remove"/>


    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appname"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AuthCodeLoginActivity"
            android:exported="false"
            android:theme="@style/TranslucentTheme"/>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/TranslucentTheme"></activity>
        <activity
            android:name=".ui.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"></activity>
        <activity
            android:name=".ui.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"></activity>
        <activity
            android:name=".ui.UpdateUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"></activity>
        <activity
            android:name=".ui.ResetPasswordByPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"></activity>
        <activity
            android:name=".ui.SelectLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"></activity>
        <activity
            android:name=".ui.EmailLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"></activity>
        <activity
            android:name=".ui.EmailRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"></activity>
        <activity
            android:name=".ui.ResetPasswordByEmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"></activity>
        <activity
            android:name=".ui.UpdateUserPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"></activity>
        <activity
            android:name=".ui.DeviceControlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"></activity>
        <activity
            android:name=".ui.SharedGroupOfDevicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"></activity>
        <activity
            android:name=".ui.DistributionNetworkActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.UpdateImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"></activity>
    </application>

</manifest>